@use "sass:math";
@use "sass:list";

$contentWidth: 120rem;

$fontRatio: math.div(100rem, $contentWidth);

$spacingBaseTriplet: (1.5rem, 4vw * $fontRatio, 4rem);

@function clamp-scale-triple($triplet, $scale: 1) {
  @return clamp(
    list.nth($triplet, 1) * $scale,
    list.nth($triplet, 2) * $scale,
    list.nth($triplet, 3) * $scale
  );
}

$contentWidthSlim: clamp-scale-triple((2.4rem, 4vw * $fontRatio, 4rem), 20);
$contentWidthText: clamp-scale-triple((2.4rem, 4vw * $fontRatio, 4rem), 12.5);

$spacingDouble: clamp-scale-triple($spacingBaseTriplet, 2);
$spacing: clamp-scale-triple($spacingBaseTriplet, 1);
$spacingTwoThirds: clamp-scale-triple($spacingBaseTriplet, math.div(2, 3));
$spacingHalf: clamp-scale-triple($spacingBaseTriplet, 0.5);
$spacingThird: clamp-scale-triple($spacingBaseTriplet, math.div(1, 3));
$spacingQuarter: clamp-scale-triple($spacingBaseTriplet, 0.25);

$resLarge: 1280px;
$resTablet: 900px;
$resPhone: 450px;

$colorContent: #111;
$colorBg: #eee;

@mixin fontDefault() {
  font-family: sans-serif;
}
